:root {
  --green--: #31CD63;
  --light-gray--: #E5E5E5;
  --dark-green--: #45C486;
  --black--:
      #060710;
  --maroon-text--: #A40021;
  --gray--: #747475;
  --dark-blue--:
      #191D63;
  --wheat--: :#F4F3F6;


}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "General Sans", sans-serif;
  font-weight: normal;
  background-color:var(--light-gray--);

}